@model FinalHerkansingEventPlanner.Models.CategoryChoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryChoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryChoiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryChoiceName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.CategoriesChoiceId">Edit</a> 
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
