@{
    ViewData["Title"] = "Contact";
}

<div>
    <div class="text-center">
        <h1>Contactpagina van Festivo</h1>
        <p>Aan de hand van onderstaande gegevens kunt u contact met ons opnemen</p>
    </div>

    
    <div class="row mt-4">
        <div class="col-md-6">
            <ul>
                <li><strong>Postcode:</strong> 1468AA</li>
                <li><strong>Straat:</strong> Feeststraat</li>
                <li><strong>Plaats:</strong> Amsterdam</li>
                <li><strong>E-mail:</strong> Festivo@gmail.com</li>
            </ul>
        </div>

        <div class="col-md-6 text-center">
            <img src="~/images/GoogleMaps.jpg" alt="GoogleMaps" width="700px" height="400px">
        </div>
    </div>
</div>
